.study-grid {
    padding: 0 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 380px;
    gap: 25px;
}

.study-card {
    border-radius: 50px;

    display: flex;
    align-items: flex-start;
    
    font-size: 40px;
    color: var(--text-white);
    font-weight: var(--font-weight-medium);

    overflow: hidden;
    position: relative;
}

.text-ru, .text-other {
    /* position: absolute; */
    color: var(--text-white);
    font-weight: var(--font-weight-medium);
        
    z-index: 2;
}

.text-ru {
    margin-top: 250px;
    margin-left: 40px;
}

.text-other {
    margin-top: 290px;
    margin-left: 40px;
}

.flag {
    position: absolute;
    top: 12%;
    left: 22%;
    z-index: 1;

    transform: scale(1.6);
}

.russian {
    background: linear-gradient(
        240.15deg,
        #F5F5F5 0%,
        #FF4B55 50%,
        #41479B 100%
    );
}

.great-britain {
    background: linear-gradient(
        240.15deg, 
        #41479B 0%, 
        #FF4B55 50%, 
        #F5F5F5 100%
    );
}

.germany {
    background: linear-gradient(
        240.15deg, 
        #464655 0%, 
        #FF4B55 50%, 
        #FFE15A 100%
    );
}

.china {
    background: linear-gradient(
        240.15deg, 
        #FF4B55 0%, 
        #FFE15A 100%
    );
}

.japan {
    background: linear-gradient(
        240.15deg, 
        #F5F5F5 22.6%, 
        #FF4B55 100%
    );
}

.korean {
    background: linear-gradient(
        240.15deg, 
        #F5F5F5 15%, 
        #FF4B55 50%, 
        #41479B 75%, 
        #464655 100%
    );
}