.price-grid {
    padding: 0 100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 700px;
    gap: 25px;
}

.price-card {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 50px;
    box-shadow: var(--shadow-blue);
}

.badge {
    position: absolute;
    top: 30px;
    left: 30px;

    font-size: 18px;
    font-weight: var(--font-weight-medium);

    color: var(--text-white);
    background-color: var(--background-blue);
    border-radius: 50px;

    padding: 0px 18px;
}

.price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
    position: relative;
    z-index: 2;
}

.service-name {
    font-size: 46px;
    font-weight: var(--font-weight-medium);
    margin-bottom: 20px;
}

.description-price {
    font-size: 30px;
    font-weight: var(--font-weight-regular);
    margin: 0;
}

.blue-text {
    color: var(--text-blue);
}

.price-value {
    font-size: 30px;
    font-weight: var(--font-weight-medium);
}

.blue-text-big {
    font-size: 60px;
    color: var(--text-blue);
}

.description {
    font-size: 30px;
    font-weight: var(--font-weight-regular);
    list-style: none;
    padding-left: 0;
}

.description li {
    position: relative;
    padding-left: 40px;  /* отступ для плюса */
    margin-bottom: 20px; /* расстояние между пунктами */

    position: relative;
    z-index: 2;
}

.description li::before {
    content: "+";
    position: absolute;
    left: 0;
    color: var(--text-dark);
    font-size: 30px;
    font-weight: var(--font-weight-regular);
    line-height: 1;
}

.description li:last-child {
    margin-bottom: 0;
}

.price-img {
    position: absolute;
    z-index: 1;
}

.price-img-1 {
    top: 46%;
    left: 14%;
    transform: scale(1.5);
}

.price-img-2 {
    top: 52%;
    left: 60%;
    transform: scale(1.5);
}

.price-img-3 {
    top: 4%;
    left: 64%;
    transform: scale(1.5);
}

.price-img-4 {
    top: 45%;
    left: 14%;
    transform: scale(1.4);
}

.price-img-5 {
    top: 81%;
    left: 78%;
    transform: scale(1.5);
}

.consultation {
    font-size: 24px;
    font-weight: var(--font-weight-medium);

    margin: 25px auto 0;

    display: flex;
    width: fit-content;
    
    border-radius: 999px;
    padding: 6px 10px;
    gap: 18px;

    background-color: var(--background-white);
    box-shadow: var(--shadow-blue);
}

.consultation-link {
    color: var(--text-secondary-gray);
}

.consultation-button {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-medium);

    color: var(--text-white);
    background-color: var(--background-blue);

    border-radius: 999px;
    padding: 0 20px;

    border: none;
    cursor: pointer;
}