.questions-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.questions-item {
    background: #FFFFFF;
    border-radius: 51px;
    box-shadow: var(--shadow-blue);
}

.questions-question {
    width: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: var(--font-weight-medium);
    color: var(--text-dark);
    text-align: left;
}

.questions-icon {
    width: 80px;
    height: 80px;
    min-width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid var(--background-blue);

    font-size: 48px;
    color: var(--text-blue);

    /* transition: 0.3s; */
}

.questions-icon-blue {
    color: var(--text-dark);
    background-color: var(--background-blue);
}

.questions-icon-dark {
    color: var(--text-white);
    border-color: var(--background-dark);
    background-color: var(--background-dark);
}